<!DOCTYPE html>
<html>
<head>
    @using Microsoft.AspNet.Identity
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        img.resize {
            max-width: 120%;
            max-height: 120%;
            margin-left: 100%;
        }

        #loader {
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000;
        }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }

        -webkit-keyframes sk-scaleout {
            0%

        {
            -webkit-transform: scale(0)
        }

        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }

        }

        keyframes sk-scaleout {
            0%

        {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        100% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
            opacity: 0;
        }
        }
    </style>
</head>
<body class="app">

    <div id='loader'>
        <div class="spinner"></div>
    </div>

    <script>
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <!-- App Content -->
    <!-- =================================================== -->
    <div>
        <!-- #Left Sidebar ==================== -->
        <div class="sidebar">
            <div class="sidebar-inner">
                <!-- ### $Sidebar Header ### -->
                <div class="sidebar-logo">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer peer-greed">
                            <a class="sidebar-link td-n" href="index.html">
                                <div class="peers ai-c fxw-nw">
                                    <div class="peer">
                                        <div class="logo">
                                            
                                            <img class="resize" src="~/Content/adminator/assets/static/images/Sans-titre---1.png" alt="" />
                                        </div>
                                    </div>
                                  
                                </div>
                            </a>
                        </div>
                        <div class="peer">
                            <div class="mobile-toggle sidebar-toggle">
                                <a href="" class="td-n">
                                    <i class="ti-arrow-circle-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ### $Sidebar Menu ### -->
                <ul class="sidebar-menu scrollable pos-r">
                    <li class="nav-item mT-30 active">
                        <a class="sidebar-link" href="@Url.Action("Index", "Admin")">
                            <span class="icon-holder">
                                <i class="c-blue-500 ti-home"></i>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("Newsletter", "Admin")">
                            <span class="icon-holder">
                                <i class="c-brown-500 ti-email"></i>
                            </span>
                            <span class="title">Newsletter</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("ListAdmin","Admin")">
                            <span class="icon-holder">
                                <i class="c-indigo-500 ti-layout-list-thumb"></i>
                            </span>
                            <span class="title">List Admin</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("RegisterAdmin","Admin")">
                            <span class="icon-holder">
                                <i class="c-light-blue-500 ti-user"></i>
                            </span>
                            <span class="title">Add Admin</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("EventNotApproved","Event")">
                            <span class="icon-holder">
                                <i class="c-deep-orange-500 fa fa-calendar"></i>
                            </span>
                            <span class="title">Events</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("logs","Admin")">
                            <span class="icon-holder">
                                <i class="c-light-blue-500  ti-files"></i>
                            </span>
                            <span class="title">Logs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("Organizations","Admin")">
                            <span class="icon-holder">
                               <i class="fa fa-university"></i>
                            </span>
                            <span class="title">Organization</span>
                        </a>
                    </li>
                    </ul>
</div>
        </div>

        <!-- #Main ============================ -->
        <div class="page-container">
            <!-- ### $Topbar ### -->
            <div class="header navbar">
                <div class="header-container">
                    <ul class="nav-left">
                        <li>
                            <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                        
                        
                    </ul>
                    <ul class="nav-right">

                        <li>
                            <a href="@Url.Action("profile","Admin")" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                <i class="fa fa-user" aria-hidden="true"style="font-size:30px"></i>
                               
                            </a>
                        </li>
                        <li>

                            <a href="@Url.Action("LogOut","Admin")" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">

                                <i class="fa fa-sign-out" aria-hidden="true" style="font-size:30px"></i>

                            </a>
                        </li>





                    </ul>
                        
                 
                </div>
            </div>
            <main class="main-content bgc-grey-100">

                <div id="mainContent">


                    @RenderBody()


                </div>

            </main>

        </div>
    </div>

    <script src="~/Content/adminator/vendor.js"></script>
    <script src="~/Content/adminator/bundle.js"></script>
    <div class="jvectormap-tip"></div>
    <div class="jvectormap-tip"></div>
    <div class="jvectormap-tip"></div>
    <div class="jvectormap-tip"></div>

    <div class="jvectormap-tip"></div>
    <div class="jvectormap-tip"></div>
</body>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
