@model Model.User

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<body>
<div class="col-lg-4 col-md-4 mb-5 ml-5 mr-5 mt-5 S-inscrire">


    <h4 class="rubrique-title">Modifier Votre Profile</h4>

    @using (Html.BeginForm("Signup", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        if (ViewData.ModelState.ContainsKey("register"))
        {

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        }
        <div class="form-group">
            <label for="exampleInputEmail1">Nom d'utilisateur <span class="couleur-rouge">*</span></label>
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Adresse email <span class="couleur-rouge">*</span></label>
            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
        </div>
        <div class="form-group">
            <label for="exampleInputPhone">Num Tel <span class="couleur-rouge">*</span></label>
            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe <span class="couleur-rouge">*</span></label>
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
        </div>
       

        <center><button type="submit" class="btn-valide mb-3">Modifier</button></center>
    }
</div>
    </body>



