@model IEnumerable<Model.Event>

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyEvents</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
 
    <table class="table">
        <tr>
           
           
          
           
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
         
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>

            <td>
                @{var edate = item.EventDate.ToString("{MM/dd/yyyy}");}
                @Html.DisplayFor(modelItem => edate)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", "Event", new { id = item.idEvent }, htmlAttributes: new { @class= "btn cur-p btn-outline-primary" }) |
                @Html.ActionLink("Details", "Details", "Event", new { id = item.idEvent }, htmlAttributes: new { @class = "btn cur-p btn-outline-primary" }) |
                @Html.ActionLink("Delete", "Delete", "Event", new { id = item.idEvent }, htmlAttributes: new { @class = "btn cur-p btn-outline-primary" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
