@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="~/Content/style.css" rel="stylesheet" />



</head>


<body>

   



    <div class="container-fluid">

        <div class=" row full_window two">
            <div class="container h-100">
                <div class="col-12  text-center " style="height: 80%">
                    <div class="row align-items-center h-100">
                        <div class="col">
                            <h2 style="font-size: 55px; color:#fff;">Portail des anoonces universitaires</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center " style="height: 20%">
                    <div class="row align-items-center h-100" style=" background-color: rgb(0, 145, 208, 0.5);">
                        <div class="col-lg-3 ">
                            <input class="search my-sm-3" type="text" placeholder="Mot clé">
                        </div>
                        <div class="col-lg-3">
                            <div class="dropdown">
                                <button class=" dropdown-toggle choice-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sélectionnez une université
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="dropdown">
                                <button class="dropdown-toggle choice-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choisissez un théme
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="last-drop">
                                <div class="dropdown ">
                                    <button class="dropdown-toggle choice-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choisissez une date
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <span>
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class=" row ">
            <div class="col ">
                <h4 class="rubrique-title">Les événements à la une</h4>
            </div>
        </div>
      
        
        <div class="row">
            @foreach (var eve in Model)
            {
                <div class="col-lg-4 ">
                    <a href="@Url.Action("Details","Event",new { id=eve.idEvent})">
                        <div class="bloc-post my-3">
                            <img class="img-fluid" src="@Url.Content("~/Content/eventpics/id"+@eve.idEvent+"im1.jpg")" style="width: 100%; height:170px">
                            <div class="d-flex pt-3 pb-3">
                                <div class="annonce-date text-center">
                                    <span>@eve.EventDate.ToString("MMM")</span><br><span>@eve.EventDate.Day</span>
                                </div>
                                <div class="annonce-title">
                                    <h4>@eve.EventTitle</h4>
                                    <p style="-webkit-line-clamp:1;">@eve.Description</p>
                                    <p> @eve.EventLocation</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            </div>
        <div class=" row ">
            <div class="col ">
                <h4 class="rubrique-title">Parcourir par université</h4>
            </div>
        </div>
        <div class=" row ">
            <div class="col-lg-4 ">
                <ul>
                    <li>Université de Tunis</li>
                    <li>Université de Gabed</li>
                    <li>Université de Carthage</li>
                    <li>Université de Manouba</li>
                </ul>
            </div>
            <div class="col-lg-3 offset-1 ">
                <ul>
                    <li>Université de Tunis</li>
                    <li>Université de Gabed</li>
                    <li>Université de Carthage</li>
                    <li>Université de Manouba</li>
                </ul>
            </div>
            <div class="col-lg-3 offset-1 ">
                <ul>
                    <li>Université de Tunis</li>
                    <li>Université de Gabed</li>
                    <li>Université de Carthage</li>
                    <li>Université de Manouba</li>
                </ul>
            </div>
        </div>
    </div>



</body>


</html>
