@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="~/Content/style.css" rel="stylesheet" />



</head>


<body>

    <div class="row">
        @{int i = 0; }

            @foreach (var eve in Model)
        {
                if (i == 1)
                { <br/>}

                i= i + 1;


            <div class="box">


                <a href="@Url.Action("Details","Event",new { id=eve.idEvent})"><img src="@Url.Content("~/Content/eventpics/id"+@eve.idEvent+"im1.jpg")" /></a>


                <div class="desc">
                    <a href="@Url.Action("Details","Event",new { id=eve.idEvent})"><span>@eve.EventTitle</span></a><br />
                    @eve.EventDate.ToString("ddd"), @eve.EventDate.ToString("MMM") @eve.EventDate.Day<br />
                    @eve.EventLocation<br />

                </div>
                <div class="date">
                    <p class="juin">@eve.EventDate.ToString("MMM")</p>
                    <p class="num">@eve.EventDate.Day</p>
                </div>

                <div>
                    <ul class="some">
                        <li><a href="#"><i class="fa fa-share"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>

                </div>

            </div>

        }
    </div>

</body>


</html>
