@model Model.Event

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/style1.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
        $('#participation').on("click", function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Participate", "Event")',
                data: { ide: $(this).val() },
                success: function (result) {

                    if (result.IsOk && result.Action == "participated") {
                        $("#participation").text("annuler participation");
                        $("#participation").removeClass();
                        $("#participation").addClass("btn btn-danger");
                        @ViewBag.participate=true;

                        console.log("success");
                    } else if (result.IsOk && result.Action == "participate") {
                        $("#participation").text("participer");
                        $("#participation").removeClass();
                        $("#participation").addClass("btn btn-primary");
                        console.log("don't participate");
                         @ViewBag.participate=false;

                    }
                    



                }
            });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
        $('#like').on("click", function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Like", "Event")',
                data: { ide: $(this).val() },
                success: function (result) {

                    if (result.IsOk && result.Action == "liked") {
                      
                        $("#likefa").removeClass();
                        $("#likefa").addClass("fa fa-heart red");
                        @ViewBag.participate=true;

                        console.log("success");

                    } else if (result.IsOk && result.Action == "unlike") {
                     
                        $("#likefa").removeClass();
                        console.log("remove class");
                        $("#likefa").addClass("fa fa-heart blue");
                        console.log("unlike");
                         @ViewBag.like=false;

                    }



                }
            });
            });
        });
    </script>

    <style>
        .btnfa {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }
        .blue{

            color:blue;
        }
        .blue {
            color: red;
        }
    </style>
</head>
<body>
    @using System.Globalization;
    @{


        CultureInfo french = new CultureInfo("fr-FR"); }



    <div class="container-fluid desciption">
        <div class=" row full_window ">
            <div class="col-lg-5 offset-2">
                <img class="img-fluid" src="@Url.Content("~/Content/eventpics/id" + Model.idEvent + "im1.jpg")" style="height: 300px; width: 600px;">
                <div>
                    like:

                    <button id="like" class="btnfa" value="@Model.idEvent" name="button" text=""> <i id="likefa" class="fa fa-heart  @(@ViewBag.like == true ? "red" : "blue")"></i></button>


                </div>
                <h5 class="my-5">Description</h5>
                <p style="width: 400px ;">
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
            <div class="col-lg-4 offset-1">
                <div class="mt-5">

                    <h4 style="font-weight:bold;">@Model.EventTitle</h4>
                    <br />
                    <h5>organisé par: @Model.hostedby.orgname</h5>
                    <br />
                    <h6>Date:</h6>

                    <p>@Model.EventDate.ToString("dddd", french) @Model.EventDate.Day @Model.EventDate.ToString("MMMM", french) @Model.EventDate.Year</p>
                    <p>Lieu:</p>
                    <p>@Model.EventLocation</p>
                </div>
                <div style="margin-top: 150px;">
                    <button id="participation" class="px-5 @(@ViewBag.participate == true ? "btn btn-danger" : "btn btn-primary")" value="@Model.idEvent" name="button" text="">  @(@ViewBag.participate == true ? "annuler participation".ToString() : "participer".ToString())</button>
                </div>


            </div>

            <div class="row ">
                @foreach (var item in ViewBag.pic)
                {
                    <img class="img-fluid" style="height: 200px; width: auto;" src="~/Content/eventpics/@item.picName" />
                }
            </div>

        </div>

        <div style="margin-top:auto;margin-right:50px;" class="flex-sm-row col-lg-3">
            @{Html.RenderPartial("share", new ViewDataDictionary { { "id", Model.idEvent } }); }



        </div>
    </div>

    




</body>
</html>
