@model Model.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
        $('#participation').on("click", function () {
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("Participate","Event")',
                data: { ide: $(this).val() },
                success: function (result) {

                    if (result.IsOk && result.Action == "participated") {
                        $("#participation").removeClass();
                        $("#participation").addClass("btn btn-success");
                        console.log("success");
                    } else if (result.IsOk && result.Action == "participate") {
                        $("#participation").removeClass();
                        $("#participation").addClass("btn btn-primary");
                        console.log("primary");
                    }



                }
            });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h4>Event</h4>
        <hr />
        <div>Participate:
        
        <button id="participation" class="" value="@Model.idEvent" name="button">Participate</button>
        </div>



        <dl class="dl-horizontal">

            


            <dt>
                @Html.DisplayNameFor(model => model.creator.username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.creator.username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.hostedby.orgname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hostedby.orgname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.theme.designation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.theme.designation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @{var cdate = Model.CreationDate.ToString("{MM/dd/yyyy}");}
                @Html.DisplayFor(model => cdate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventDate)
            </dt>

            <dd>
                @{var edate = Model.CreationDate.ToString("{MM/dd/yyyy}");}
                @Html.DisplayFor(model => edate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                <psan>pictures</psan>
            </dt>

            <dd>
                @foreach (var item in ViewBag.pic)
                {
                   <img src="~/Content/eventpics/@item.picName" />
                }

            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idEvent }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
