@model IEnumerable<Model.Event>

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

   <link href="~/Content/style.css" rel="stylesheet" />


  
</head>


<body>
    @using System.Globalization;
    @{


        CultureInfo french = new CultureInfo("fr-FR"); }

    <div class="container">
        <div class="row">

            @foreach (var eve in Model)
            {



                <div class="col-lg-4 ">
                    <a href="@Url.Action("Details", "Event", new { id = eve.idEvent })">
                        <div class="bloc-post my-3">
                            <img class="img-fluid" src="@Url.Content("~/Content/eventpics/id" + @eve.idEvent + "im1.jpg")" style="width: 100%; height:170px">
                            <div class="d-flex pt-3 pb-3">
                                <div class="annonce-date text-center">
                                    <span>@eve.EventDate.ToString("MMM",french)</span><br><span>@eve.EventDate.Day</span>
                                </div>
                                <div class="annonce-title">
                                    <h4>@eve.EventTitle</h4>
                                    <p style="-webkit-line-clamp:2;text-overflow:ellipsis;">@eve.Description</p>
                                    <p> @eve.EventLocation</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div>
    </div>

</body>


</html>
