@model IEnumerable<Model.Event>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hostedby)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.creatorid)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.theme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hostedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creatorid)
            </td>
            <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idEvent }) |
            @Html.ActionLink("Details", "Details", new { id = item.idEvent }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idEvent })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
