@model IEnumerable<Model.Event>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hostedby)
            </th>
           
        </tr>
    
    @foreach (var eve in Model) {
        <tr>
            <td>
               <a href="@Url.Action("Details","Event",new { id = eve.idEvent })"> @Html.DisplayFor(modelItem => eve.EventTitle)</a>
            </td>
            <td>
              @{var cdate = eve.CreationDate.ToString("{MM/dd/yyyy}");}
                  @Html.DisplayFor(modelItem => cdate)
            </td>
            <td>
                @{var edate = eve.EventDate.ToString("{MM/dd/yyyy}");}
                @Html.DisplayFor(modelItem => edate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => eve.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => eve.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => eve.theme.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => eve.hostedby.orgname)
            </td>
          
            <td>
          
           
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
