@model IEnumerable<Model.Event>

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style1.css" rel="stylesheet" />
</head>


<body>
 


    @foreach (var eve in Model){


    

        <div class="box">
            
                
               <a href="@Url.Action("Details","Event",new { id=eve.idEvent})"><img src="@Url.Content("~/Content/eventpics/id"+@eve.idEvent+"im1.jpg")" /></a>
                
                    
                <div class="desc col">
                    <a href="@Url.Action("Details","Event",new { id=eve.idEvent})"><span>@eve.EventTitle</span></a><br/>
                    @eve.EventDate.ToString("ddd"), @eve.EventDate.ToString("MMM") @eve.EventDate.Day<br/>
                    @eve.EventLocation<br/>

                </div>
                <div class="date col">
                    <p class="juin">@eve.EventDate.ToString("MMMM")</p>
                    <p class="num">@eve.EventDate.Day</p>
                </div>
                <ul>
                    <li><a href="#"><i class="fa fa-share" ></i></a></li>
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                </ul>
                
                     </div>

}       


</body>


</html>
