@model IEnumerable<Model.Event>

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyEvents</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.hostedby.orgname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theme.designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.hostedby.orgname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.theme.designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTitle)
                </td>
                <td>
                    @{var cdate = item.CreationDate.ToString("{MM/dd/yyyy}");}
                    @Html.DisplayFor(model => cdate)
                </td>
                <td>
                    @{var edate = item.CreationDate.ToString("{MM/dd/yyyy}");}
                    @Html.DisplayFor(model => edate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventLocation)
                </td>
             
                <td>
                    <span class="@(item.adminid == null ? "badge badge-danger".ToString() : "badge badge-success".ToString())"> @(item.adminid == null ? "not approuved".ToString() : "approuved".ToString())</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idEvent }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idEvent }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idEvent })
                </td>
            </tr>
        }

    </table>
</body>
</html>
